* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainImageFloater {
  background-color: rgba(177, 177, 177, 0.582);
  width: 80%;
  height: 10%;
  left: 82px;
  bottom: 10px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
}
