* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainImageFloater {
  background-color: rgba(177, 177, 177, 0.582);
  width: 80%;
  height: 10%;
  left: 82px;
  bottom: 10px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

.planLater {
  background-image: url("https://tb-static.uber.com/prod/udam-assets/5152cc71-a5b0-4fbd-aeb8-bee896efcd48.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 100px;
  gap: 20px;
  background-color: #b1d7de;
  padding: 50px 300px 50px 75px;
  border-radius: 25px;
}

#benefits{
    gap: 20px;
}